/* CSS for Admin Login */

body {
	background-color: #2b1c33;
}

.card {
	max-width: 500px;
}

.card-header {
	background-color: #c1c0c0;
	font-size: 21px;
	font-weight: bold;
	color: #02425b;
	text-align: center;
	text-transform: uppercase;
}
